[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad
[submodule "json_library"]
	path = json_library
	url = https://github.com/Creepsy/json_library
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
